##############################
## Folders                  ##
##############################

.vs
Library
Temp
##############################
## Files         ##
##############################

Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
ProShader.sln